<ion-header>
  <ion-navbar color="primary">
    <ion-title>Sobre la Aplicacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid >
    <ion-row>
      <ion-col class="text-center ">

        <p>
           Ejemplo de aplicacion móvil con Ionic 2, aplicacion de lista de tareas pendientes y terminadas
        </p>
        <hr>
        <p>
          <i>Christopher Aedo.</i>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <li > -->
  <ion-card >






  </ion-card>


</ion-content>
